/********************************* TAG SELECTORS ******************************/
body{
  background-color: rgb(224,224,224);
}

hr{
  border-style: none;
  border-top: solid;
  border-width: 2px;
  width: 10%;
  border-color: rgb(95,95,95);
}

img{
  background-color: blue;
  border-radius: 10%;
  height: 150px;
}

h3{
  color: rgb(95,95,95);
}
/********************************* CLASS SELECTORS ******************************/
.date {
  color: blue;
}

.work {
  color: red;
}

/********************************* ID SELECTORS ******************************/
#profile-picture {
  border-radius: 100%;
}
